# Ignore environment folders and files
env/
.env*

# Ignore logs
app/data/logs/*.log

# Ignore all rotated logs
app/data/logs/app.log.*

.idea/
# Ignore Python cache files
__pycache__/

deploy.sh

*.pyc